python-dotenv
sentence-transformers
langchain-huggingface
requests
langchain
langchain-core
langchain-community
langchain-groq
langchain-pinecone
langchain-text-splitters
groq
langgraph
pinecone
deepgram-sdk
pydub
flask
flask-socketio
pypdf
httpx
websockets
pandas
numpy
gunicorn